body{
    background: rgb(0, 140, 255);
}
h1{
    font: normal 25pt Arial;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.area{
    background: rgba(255, 255, 255, 0.904);
    width: 70%;
    min-height: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}
#addP{
    border-radius: 5px;
    display: block;
    float: margin;
    border: 0px;
    margin: auto;
    width: 100px;
    height: 40px;
    background-color: rgba(118, 158, 251, 0.842);
}
.table, th, td{
    border: 1px solid rgb(189, 206, 209);
    border-collapse: collapse;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.table{
    margin: auto;
}
.Comida{
    background-color: rgba(107, 240, 107, 0.828);
}
.Beleza{
    background-color: rgba(255, 206, 92, 0.828);
}
.Brinquedo{
    background-color: rgba(136, 251, 255, 0.664);
}
.Tecnologia{
    background-color: rgba(197, 197, 197, 0.726);
}
.Higiene{
    background-color: rgba(249, 250, 249, 0.76);
}
.Papelaria{
    background-color: rgba(243, 246, 70, 0.787);
}
#delP{
    background-color: rgb(231, 122, 122);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#delR{
    border-radius: 5px;
    border: 0px;
    display: block;
    margin: auto;
    width: 200px;
    height: 20px;
    background-color: rgba(118, 158, 251, 0.842);
}
p{
    text-align: center;
}